// grid
$header-height: 60px !default;
$header-bgColor: #fff !default;

$aside-width: 160px !default;
$aside-op-height: 45px !default;
$aside-bgColor: #fff !default;

$aside-collapse-width: 64px !default;

$content-padding: 10px !default;
