<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false" scanPeriod="60000" debug="false">

    <nutzProperty name="ServerName" scope="context" source="nutz.application.name"/>
    <nutzProperty name="ServerIP" scope="context" source="server.host"/>
    <nutzProperty name="ServerPort" scope="context" source="server.port"/>
    <nutzProperty name="ServerPID" scope="context" source="nutz.application.pid"/>
    <nutzProperty name="LogPath" scope="context" source="log.path"/>

    <conversionRule conversionWord="wex"
                    converterClass="com.budwk.starter.log.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="com.budwk.starter.log.logback.ExtendedWhitespaceThrowableProxyConverter"/>

   <property name="CONSOLE_LOG_PATTERN_NO_COLOR"
              value="[${ServerName}:${ServerIP}:${ServerPort}] %d{yyyy-MM-dd HH:mm:ss.SSS} %level ${ServerPID} [%X{TraceId}] [%thread] %-40.40logger{39} : %m%n${%xwEx:-%wEx}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN_NO_COLOR}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LogPath}/${ServerName}-%d{yyyy-MM-dd}-${ServerPID}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN_NO_COLOR}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 异步输出 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="FILE"/>
    </appender>

    <logger name="java" additivity="false"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="com.alibaba" level="INFO"/>
    <logger name="org.reflections.Reflections" level="INFO"/>
    <logger name="io.swagger.v3.core" level="INFO"/>
    <logger name="org.nutz.ioc.loader" level="INFO"/>
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="org.redisson" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>