// grid
$theme-color: #198bca !default;
$base-font-size: 12px !default;

$header-height: 56px !default;
$header-bgColor: #2d303b !default;
$header-logo-item-color: #fff !default;
$header-nav-item-color: #d1d1d1 !default;

$aside-width: 120px !default;
$aside-op-height: 40px !default;
$aside-color: #e1e1e1 !default;
$aside-bgColor: #31354b !default;
$aside-font-size: 12px !default;
$aside-item-height: 46px !default;
$aside-item-active-color: #fff !default;
$aside-item-active-bgColor: $theme-color !default;

$aside-second-width: 130px !default;
$aside-second-op-height: 40px !default;
$aside-second-color: #f5f5f5 !default;
$aside-second-bgColor: #2d303a !default;
$aside-second-font-size: 12px !default;
$aside-second-item-height: 42px !default;
$aside-second-item-active-color: $theme-color !default;
$aside-second-item-active-bgColor: #262932 !default;

$aside-collapse-width: 64px !default;

$content-padding: 10px !default;
